 /* The side navigation menu */
 .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #000000;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    font-family: "Arial", sans-serif;
    text-align: center;
    text-align: relative;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 

/*Body Style code*/
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("png/mainmenu.png");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  z-index: 2;
  border: 3px solid black;
  padding: 5px;
  color: black;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 20px;
}

/*Pulse Animation*/
.loader {
  margin: 0px;
  width: 1rem;
  height: 1rem;
  background-color: hotpink;
  border-radius: 50%;
  position: relative;
}

.loader::after{
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 50%;
  border: solid 1px hotpink;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  to {
    transform: scale(3);
    opacity: 0;
  }
}